---
const {question, response} = Astro.props
---

<details class="detail" open>
    <summary>
        {question}
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
            </svg>
        </div>
    </summary>    
    <p>
        {response}
    </p>
</details>


<style>
    .svg{
        width: 24px;
        height: 24px;
    }

    .detail{
        box-shadow: rgba(17, 24, 39, 0.2) 0px -1px 0px 0px inset;
    }

    .detail summary{
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        list-style: none;
        cursor: pointer;
    }

    .detail p{
        font-family: "Quattrocento", serif;
        font-size: large;
        font-weight: 400;
        font-style: normal;
        line-height: 2rem;
        padding-bottom: 2rem;
    }

    @media screen and (min-width: 1024px) {

        .detail {
            width: 1000px;
        }

        .detail p{
            font-size: x-large;
        }

        .detail summary{
            font-size: 2rem;
        }
    }


</style>