---

---
    
<section class="details">
    <h2 class="title">Preguntas Frecuentes</h2>
    <article class="descriptions">
        <details open>
            <summary>
                ¿Ofreces clases particulares?
            </summary>
            <p>
                Sí, por el momento es la unica modalidad que manejo.
            </p>
        </details>
        <details open>
            <summary>
                ¿Qué estilos de música enseñas?
            </summary>
            <p>
                Enseño varios estilos, incluyendo rock, blues, jazz y música clásica, entre otros.
            </p>
        </details>
        <details open>
            <summary>
                ¿Necesito tener mi propia guitarra?
            </summary>
            <p>
                Recomiendo tener una guitarra propia para practicar en casa, aunque no es obligatorio para las clases iniciales.
            </p>
        </details>
        <details open>
            <summary>
                ¿Cuánto duran las clases?
            </summary>
            <p>
                Las clases tienen una duración aproximada de una hora. Ofrezco flexibilidad en los horarios según disponibilidad.
            </p>
        </details>
    </article>
</section>


<style>
    .descriptions details{
        box-shadow: rgba(17, 24, 39, 0.2) 0px -1px 0px 0px inset;
        transition: 1s ;
    }

    .descriptions summary{
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .descriptions p{
        font-family: "Quattrocento", serif;
        font-size: large;
        font-weight: 400;
        font-style: normal;
        line-height: 2rem;
        padding-bottom: 2rem;
    }

    .title{
        padding-top: 2rem;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }

    @media screen and (min-width: 1024px) {

        .descriptions details{
            width: 1000px;
        }

        .title{
            font-size: 4rem;
        }

        .descriptions p{
            font-size: x-large;
        }

        .descriptions summary{
            font-size: 2rem;
        }
    }


</style>