---

---

<footer>
    <a href="/" class="logo">Rama Sotelo</a>
    <p>Hecho por Alejandro Perez Ayala ❤️</p>
</footer>

<style>

    .logo{
        color: black;
        font-size: x-large;
        font-weight: 400;
        text-decoration: none;
    }

    p{
        color: black;
        font-size: large;
        font-weight: 300;
    }

    footer{
        display: block;
        text-align: center;
        height: 100px;
        margin-top: 1rem;
    }

    @media screen and (min-width: 1024px) {
        footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p{
            margin-right: 2rem;
        }

        .logo{
            margin-left: 2rem;
        }


    }
</style>