---
import Details from "./Details.astro"
---

<main class="container">
    <Details />
</main>

<style>
    .container{
        display: grid;
        width: 100%;
        background-color:rgba(245, 245, 245, 0.904);
        text-align: center;
        place-content: center;
    }
</style>

