---
import Contact from "./Contact.astro"
import Details from "./Details.astro"
import Services from "./Services.astro"
---

<main class="container">
    <Services/>
    <Details />
    <Contact />
</main>


