---

---

<nav class="nav">
    <a href="#" class="logo">Rama Sotelo</a>
</nav>

<style>

    .nav {
        position: absolute;
        top: 0;
        background-color: transparent;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .logo{
        color: black;
        font-size: x-large;
        font-weight: 400;
        margin-left: 2rem;
        text-decoration: none;
    }
</style>